@charset "utf-8";
/* "Meet The Team" Web App Styles */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline; }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block; }
    body {
        line-height: 1; }
    ol, ul {
        list-style: none; }
    blockquote, q {
        quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none; }
    table {
        border-collapse: collapse;
        border-spacing: 0; }


/* #Basic Styles
================================================== */
    body {
        background: #fff;
        font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #444;
        -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
        -webkit-text-size-adjust: 100%;
        padding: 40px 20px 20px 20px;
 }


/* #Typography
================================================== */
    h1, h2, h3, h4, h5, h6 {
        color: #181818;
        font-weight: normal; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
    h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
    h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
    h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
    h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
    h5 { font-size: 17px; line-height: 24px; }
    h6 { font-size: 14px; line-height: 21px; }
    .subheader { color: #777; }

    p { margin: 0 0 20px 0; }
    p img { margin: 0; }
    p.lead { font-size: 21px; line-height: 27px; color: #777;  }

    em { font-style: italic; }
    strong { font-weight: bold; color: #333; }
    small { font-size: 80%; }

/*  Blockquotes  */
    blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
    blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
    blockquote cite { display: block; font-size: 12px; color: #555; }
    blockquote cite:before { content: "\2014 \0020"; }
    blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

    hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
    a, a:visited { color: #333; text-decoration: underline; outline: 0; }
    a:hover, a:focus { color: #000; }
    p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
    ul, ol { margin-bottom: 20px; }
    ul { list-style: none outside; }
    ol { list-style: decimal; }
    ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
    ul.square { list-style: square outside; }
    ul.circle { list-style: circle outside; }
    ul.disc { list-style: disc outside; }
    ul ul, ul ol,
    ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
    ul ul li, ul ol li,
    ol ol li, ol ul li { margin-bottom: 6px; }
    li { line-height: 18px; margin-bottom: 12px; }
    ul.large li { line-height: 21px; }
    li p { line-height: 21px; }

/* #Site Styles
================================================== */
    body
    {
        color: #444444;
        font-size: 18px;
        font-family: 'Open Sans', Arial, sans-serif;
        line-height: 27px;
    }

    a
    {
        font-size: 14px;
    }

    hr
    {
        margin: 10px 0px 20px;
    }

    h1, h2, h3, h4, h5, h6
    {
        color: #444;
        font-weight: 600; /* semibold */
        font-family: 'Open Sans', Arial, sans-serif;
    }
    
    h3
    {
        margin-bottom: 22px;
        font-size: 24px;
    }
    
    h4
    {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: normal;
    }

    article
    {
        margin-bottom: 50px !important;
        margin-left: 50px;
        width: 700px;
        position: relative;
    }

    .person-wrapper
    {
        width: 220px;
        display: inline;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }

    .person
    {
        margin-bottom: 53px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        width: 220px;
        height: 280px;
    }
    
    .person a
    {
        text-decoration: none;
        font-size: 18px;
    }

    .image-with-position
    {
        position: relative;
        margin-bottom: 13px;
    }
    
    .image-with-position a,
    .image-with-position a img,
    .image-with-position img
    {
        display: block;
    }

    .person .image-with-position a
    {
        width: 220px;
        height: 200px;
    }

    .image-with-position span
    {
        margin-top: -20px;
        display: inline-block;
        padding: 0px 20px;
        height: 40px;
        background: #d0530f;
        color: white;
        font-weight: 900;
        font-size: 14px;
        line-height: 38px;
        max-width: 160px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .image-with-position.big span
    {
        position: absolute;
        top: -20px;
        bottom: auto;
        right: 10px;
        margin-top: 0;
    }

    .image-with-position.big
    {
        margin-bottom: 10px;
    }
    
    .image-with-position.big img
    {
        border: 1px solid #dcdcdc;
    }

    article .image-with-position.big
    {
        width: 702px;
        height: 508px;
    }

    .description
    {
        font-size: 18px;
        line-height: 27px;
    }

    .big-person-title
    {
        max-width: 500px;
    }

    .person-social ul li {
        display: inline-block;
    }

    .person-social ul {
        padding: 0;
    }

    .person-clear{
        clear:both;
    }