# CI files which must be ignored
logs/*
tests-output/*
tests_runner.log
tests-output-integration/*
tests_runner_integration.log
node_modules
doc

# IDE specific files which must be ignored
.project
.settings

*sublime*
karma*

