# CI files which must be ignored
sdk/coverage/*
sdk/logs/*
sdk/tests-output/*
sdk/tests_runner.log
sdk/tests-output-integration/*
sdk/tests_runner_integration.log
sdk/node_modules
sdk/doc
sdk/dev_test_config.js
sdk/ci.zip
sdk/ci/*
sdk/lib/*

# IDE specific files which must be ignored
*/.project
*/.settings
*/.idea
*/*sublime*
*/karma*

*.log

**/node_modules
