# CI files which must be ignored
logs/*
tests-output/*
tests_runner.log
tests-output-integration/*
tests_runner_integration.log
node_modules
doc
dev_test_config.js
ci.zip
sdk/ci/*
sdk/lib/*

# IDE specific files which must be ignored
.project
.settings
.idea
*sublime*
karma*
