[submodule "sdk/lib/polymer"]
	path = sdk/lib/polymer
	url = https://github.com/Polymer/polymer.git
[submodule "sdk/lib/webcomponentsjs"]
	path = sdk/lib/webcomponentsjs
	url = https://github.com/webcomponents/webcomponentsjs.git
[submodule "sdk/lib/bootstrap"]
	path = sdk/lib/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "sdk/lib/jquery"]
	path = sdk/lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "sdk/lib/jquery-cookie"]
	path = sdk/lib/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "sdk/lib/underscore"]
	path = sdk/lib/underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "sdk/lib/backbone"]
	path = sdk/lib/backbone
	url = https://github.com/jashkenas/backbone.git
