<div class="col-md-4">
	<select class="form-control" selectize="resourceSelection.options" placeholder="Choose a resource ..." ng-model="resourceSelection.value" options="resources" ng-change="displayVersions();"></select>
</div>

<div class="col-md-2">
	<select class="form-control" selectize="versionsSelection.options" placeholder="Choose a version ..." ng-model="versionsSelection.value" options="versions" ng-change="displaySubresources(); displayResourceFields();"></select>
</div>

<div class="col-md-4">
	<select class="form-control" selectize="subresourceSelection.options" placeholder="Choose a subresource ..." ng-model="subresourceSelection.value" options="subresources" ng-change="displaySubresourceFields();"></select>
</div>

<br style="clear: both" />
<br style="clear: both" />

<div class="col-md-4" ng-if="fields.length > 0">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th><input type="checkbox" />Include</th>
				<th>Field name</th>
				<th>Field type</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="field in fields">
				<td><input type="checkbox" ng-model="field.selected"/></td>
				<td>{{field.name}}</td>
				<td>{{field.type}}</td>
			</tr>
		</tbody>
	</table>
</div>