<div class="col-md-4">
	<select class="form-control" selectize="resourceSelection.options" placeholder="Choose a resource ..." ng-model="resourceSelection.value" options="resources" ng-change="displaySubresources(); displayResourceFields();"></select>
</div>

<div class="col-md-4">
	<select class="form-control" selectize="subresourceSelection.options" placeholder="Choose a subresource ..." ng-model="subresourceSelection.value" options="subresources" ng-change="displaySubresourceFields();"></select>
</div>

<br style="clear: both" />

<div class="col-md-4">
	<ul>
		<li ng-repeat="field in resourceFields">{{field.name}} | {{field.type}}</li>
	</ul>
</div>

<div class="col-md-4">
	<ul>
		<li ng-repeat="field in subresourceFields">{{field.name}} | {{field.type}}</li>
	</ul>
</div>