.card-container {
    float:left;
    width: 122px;
    height: 236px;
    margin:5px 25px 5px 5px;    
    padding:10px;
    border: 1px dotted #999;
    font-family: Myriad, Myriad-Pro, Arial;
}

.card-container:hover .card-actions {
    display:block;
}

.member-card {
    height: 100%;
}

.user-add-photo img {
    width: 120px;
    height: 235px;
}

.user-name {
    margin: 5px 5px 10px 0px;
}
    
.user-name h3 {
    line-height: 30px;
	font-weight: 500;
	color: #4E4C4C;    
}

.user-position {
    color: #aaaaaa;
    font-style: italic;
    font-size: 16px;
    width: 70%;
}

body {
    height:800px;
    padding: 10px;
}

.file-upload-area {
    background-color: #ccc;
    text-align: left;
    margin-left: 0px;
    background-image: url(images/stripe.png);
    min-height: 88px;
}

.file-upload-area span {
    font-style: italic;
    margin-left: 20%;
}

.member-upload-preview {
    margin:4px;
    width: 80px;
    height: 80px;
}

#member-picture-select {
    visibility:hidden
}

.social-tabs ul li a {
    background-color: #F7F7F7;
    margin-right: 5px;
}

.social-tabs ul li a {
    margin-bottom: 2px;
    height: 10px;

}

.member-profile-container, .member-profile-container .nav .active {
    background-color: #EEEEEE !important;
}

input.small-height, .small-height {
    height: 14px !important;
}

.social-tabs {
    margin-left: 0px;
    margin-bottom: 0px;
}

.social-tabs ul {
    margin-bottom: 0px;
}

.social-tabs ul li.active, .social-tabs ul li.active a {
    background-color: #EEEEEE;
    margin-right: 5px;
    border: none;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs li {
    margin-bottom: -2px;
}
.tab-pane {
    margin-left: 16px;
    margin-top: 10px;
}

.card-actions {
    background-image:url(images/actions-gradient.png);
    height: 18px;
    text-align: right;
    border: none;
    margin: 10px -11px;
    padding: 4px 7px;
    display:none;
}


.card-actions-persistent {
    background-image:url(images/actions-gradient.png);
    height: 18px;
    text-align: right;
    border: none;
    margin: 10px -11px;
    padding: 4px 7px;
}

.delete-confirmation-dialog {
    visibility: hidden;
}

span.note-text {
    font-size: smaller;
    color: #666;
    font-style: italic;
    margin: 3px 0px 10px 0px;
    display:block;
}

.member-icon-delete {
    background-image: url(images/delete-icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    margin-left: 7px;
    margin-top: 3px;
    display: inline-block;
}

a.member-icon-delete:hover {
    background-image: url(images/delete-icon-hover.png);
}

.member-icon-edit {
    background-image: url(images/edit-icon.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
}

a.member-icon-edit:hover {
    background-image: url(images/edit-icon-hover.png);
}
    
    
.popover {
    max-width: 800px;
    width: auto;
    /*left: 379px !important;*/
}

.checked {
   margin-left: 10px; 
   background-image: url(images/checkmark.png);
   background-repeat: no-repeat;
   background-position: 3px 15px;
   padding-left: 19px !important;
}

.control-label {
    font-weight: bold;
}

#member-facebook{
    background-image: url(images/fb-icon-inactive.png);
    bacgkround-position: left;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 20px;
}

#member-twitter{
    background-image: url(images/tw-icon-inactive.png);
    bacgkround-position: left;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 20px;
}

#member-linkedin{
    background-image: url(images/ln-icon-inactive.png);
    bacgkround-position: left;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 20px;
}


#form-container .popover {
    background-color: #000;
    color: #FFF;
	width:500px;
}

#form-container .popover.top .arrow:after
{
    border-top-color: #000;
	width: 400px;
}

#member-edit-form input[type='text'], #member-edit-form textarea {
	background-color: #F7F9FA;	
}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  background-color: #eee;
  border-style: none;	
}
