<!DOCTYPE html>
<html>
<head>
    <title>Meet The Team</title>
    <script type="text/javascript" src="assets/jquery.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="assets/underscore.js"></script>
    <script type="text/javascript" src="assets/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/bootstrapx-clickover.js"></script>
    <script type="text/javascript" src="assets/system-notifications/system-notifications.js"></script>
    <script type="text/javascript" src="assets/bcjs/dist/bcapi-full.js"></script>
    <script type="text/javascript" src="assets/team.js"></script>
    <link rel="stylesheet" href="assets/system-notifications/system-notifications.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>

    <div id="team-members">
        <div class="loading"></div>
    </div>

    <div class="card-container">
        <div class="user-add-photo">
            <a href="edit.html">
                <img src="assets/images/add-team-member.png" alt="Picture Not Available"/>
            </a>
        </div>
    </div>

    <script type="text/javascript">


        $(function(){
            bootStrap();
        });
    </script>

    <script type="text/template" id="member-card">
        <div class="card-container" data-member-id="<%= member.id %>">
            <div class="member-card">
                <div class="user-photo">
                    <a href="edit.html?memberid=<%= member.get('id') %>">
                        <img src="<%= member.get('fields').Picture %>?action=thumbnail&width=100&height=100&algorithm=fill_proportional" style="width:120px; height: 100px;" alt="Picture Not Available"/>
                    </a>
                </div>

                <div class="user-name">
                    <h3><%-member.get('name') %></h3>
                </div>
                <div class="user-position">
                    <%- member.get('fields').Position %>
                </div>
            </div>
            <div class="card-actions" id="actions_<%= member.get('id') %>">
                <a rel="edit" href="edit.html?memberid=<%= member.get('id') %>" class="member-icon-edit"></a>
                <a href="#" rel="popover" data-placement="top" title="Delete Team Member" class="member-icon-delete"
                   data-content="<div class=&quot;delete-confirmation-text\&quot;>Are you sure you want to delete <%- member.get('name') %>?</div>
                <span class=&quot;note-text&quot;>This action has no Undo.</span>
                <div>
                    <a href=&quot;#&quot; class=&quot;btn&quot; onclick=&quot;deleteTeamMember(<%= member.get('id')%>)&quot;>Delete</a>
                    <a href=&quot;#&quot; class=&quot;btn btn-primary&quot; data-toggle=&quot;button&quot; data-dismiss=&quot;clickover&quot;>Cancel</a>
                </div>"></a>
            </div>
        </div>
    </script>
</body>
</html>