<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400italic,600italic,700italic,400,700,600">
<link rel="stylesheet" href="/bc-meet-the-team/assets/styles.css">

<article class="">
    <h3 class="big-person-title">{tag_name}</h3>
    <div class="image-with-position big">
        <img border="0" alt="{tag_name}" src="{tag_picture}?action=thumbnail&amp;width=700&amp;height=480&amp;algorithm=fill_proportional">
        <span>{tag_position}</span>
    </div>
    <h3>Bio</h3>
    <p class="description">{tag_bio}</p>
    <h3>Follow {tag_name}</h3>
    <div class="person-social">
        <ul>
            <li class="person-twitter"><a href="http://twitter.com/{tag_twitter}"><img alt="Twitter" src="/bc-meet-the-team/assets/twitter.jpg"/></a></li>
            <li class="person-facebook"><a href="http://facebook.com/{tag_facebook}"><img alt="Facebook" src="/bc-meet-the-team/assets/facebook.jpg"/></a></li>
            <li class="person-linkedin"><a href="http://linkedin.com/{tag_linkedin}"><img alt="LinkedIn" src="/bc-meet-the-team/assets/linkedin.jpg"/></a></li>
        </ul>
    </div>
    <p class="view-all"><a href="/bc-meet-the-team">View all team members</a></p>
</article>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/bc-meet-the-team/assets/scripts.js"></script>