<link rel="stylesheet" href="/bc-meet-the-team/assets/styles.css">
<article class="team-member">
     <h1>{tag_name}</h1>
     <img class="team-avatar-large" alt="{tag_name}" src="{tag_picture}?action=thumbnail&amp;width=280&amp;height=210&amp;algorithm=fill_proportional"/>
     <p class="team-title">{tag_position}</p>
    <div class="team-bio">{tag_description}</div>
    <div class="team-social">
        <p><strong>Follow {tag_name}:</strong></p>
    <ul>
        <li class="team-twitter"><a href="http://twitter.com/{tag_twitter}"><img alt="Twitter" src="/bc-meet-the-team/assets/twitter.jpg"/></a></li>
        <li class="team-facebook"><a href="http://facebook.com/{tag_facebook}"><img alt="Facebook" src="/bc-meet-the-team/assets/facebook.jpg"/></a></li>
        <li class="team-linkedin"><a href="http://linkedin.com/{tag_linkedin}"><img alt="LinkedIn" src="/bc-meet-the-team/assets/linkedin.jpg"/></a></li>
	</ul>
    </div>
</article>
<p><a href="/bc-meet-the-team">View all team members</a></p>
<p>&nbsp;</p>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/bc-meet-the-team/assets/scripts.js"></script>