@charset "utf-8";
/* "Meet The Team" Web App Styles */

.team-item {
 width: 33.333%;
 float: left;
 margin-top: 25px;
}
    
.team-button {
 background-color: #0096D2;
 cursor: pointer;
 color: #FFFFFF;
 text-decoration: none;
 font-weight: bold;
 padding: 0.5em;            
}

.team-button:hover {
	background-color: #0089BF;	
}

.team-title {
    font-style: italic;
    }

.team-social ul li {
    display: inline-block;
    opacity: 0.7;
    }

.team-social ul li:hover {
    opacity: 1;
    }

.team-social ul {
    padding: 0;
    }

.team-clear{
 clear:both;
}